
<!-- Main Header -->
<header>
  <a href="http://pyblish.com"><img ng-src="static/img/logo-extrasmall.png" alt=""></a>
</header>

<navigation></navigation>
<filter-list key="{{ rootCtrl.key }}"></filter-list>
<event-list></event-list>

<footer>
  <ul>
    <li>System</li>
    <li><a href="">Users</a></li>
    <li><a href="">Settings</a></li>
    <li><a href="">Filters</a></li>
  </ul>

  <ul>
    <li>Profile</li>
    <li><a href="">Account Settings</a></li>
  </ul>

  <ul>
    <li>Software</li>
    <li><a href="http://github.com/abstractfactory/pyblish" target="_blank">GitHub</a></li>
    <li><a href="http://api.pyblish.com" target="_blank">API</a></li>
    <li><a href="http://pyblish.com" target="_blank">Documentation</a></li>
    <li><a href="http://github.com/abstractfactory/pyblish/wiki" target="_blank">Wiki</a></li>
  </ul>
</footer>