
<!-- Main Header -->
<header>
  <a href="http://pyblish.com"><img ng-src="static/img/logo-grayscale.gif" alt=""></a>
</header>

<!-- Central Navigation -->
<nav>
  <div class="input-group input-group-sm">
    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    <input type="text" class="form-control" placeholder="Search..">
  </div>
</nav>

<!-- Sidebar -->
<aside class="group">
  <div class="dropdown">Families</div>
  <div class="canvas">
    <ul>
      <li>napoleon.animation.rig</li>
      <li>napoleon.asset.rig</li>
      <li>napoleon.animation.cache</li>
      <li>napoleon.asset.model</li>
      <li>napoleon.asset.texture</li>
      <li>napoleon.asset.shader</li>
      <li>napoleon.asset.rig</li>
      <li>napoleon.animation.cache</li>
      <li>napoleon.asset.model</li>
      <li>napoleon.asset.texture</li>
    </ul>
  </div>
  <button>+</button>
  <button>-</button>
  <input type="text" placeholder="Search..">
</aside>

<!-- Section -->
<section class="group">
  <div class="control"></div>
  <div class="canvas group">
    <table>
      <tr>
        <th>Instance</th>
        <th>Comment</th>
        <th>Author</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>Peter1</td>
        <td>Some long comment here</td>
        <td>marcus</td>
        <td>2014-10-30 15:31:20</td>
      </tr>
      <tr>
        <td>Peter1</td>
        <td>Some long comment here</td>
        <td>marcus</td>
        <td>2014-10-30 15:31:20</td>
      </tr>
      <tr>
        <td>Peter1</td>
        <td>Some long comment here</td>
        <td>marcus</td>
        <td>2014-10-30 15:31:20</td>
      </tr>
      <tr>
        <td>Peter1</td>
        <td>Some long comment here</td>
        <td>marcus</td>
        <td>2014-10-30 15:31:20</td>
      </tr>
      <tr>
        <td>Peter1</td>
        <td>Some long comment here</td>
        <td>marcus</td>
        <td>2014-10-30 15:31:20</td>
      </tr>
      <tr>
        <td>Peter1</td>
        <td>Some long comment here</td>
        <td>marcus</td>
        <td>2014-10-30 15:31:20</td>
      </tr>
      <tr>
        <td>Peter1</td>
        <td>Some long comment here</td>
        <td>marcus</td>
        <td>2014-10-30 15:31:20</td>
      </tr>
      <tr>
        <td>Peter1</td>
        <td>Some long comment here</td>
        <td>marcus</td>
        <td>2014-10-30 15:31:20</td>
      </tr>
      <tr>
        <td>Peter1</td>
        <td>Some long comment here</td>
        <td>marcus</td>
        <td>2014-10-30 15:31:20</td>
      </tr>
      <tr>
        <td>Peter1</td>
        <td>Some long comment here</td>
        <td>marcus</td>
        <td>2014-10-30 15:31:20</td>
      </tr>
      <tr>
        <td>Peter1</td>
        <td>Some long comment here</td>
        <td>marcus</td>
        <td>2014-10-30 15:31:20</td>
      </tr>
      <tr>
        <td>Peter1</td>
        <td>Some long comment here</td>
        <td>marcus</td>
        <td>2014-10-30 15:31:20</td>
      </tr>
      <tr>
        <td>Peter1</td>
        <td>Some long comment here</td>
        <td>marcus</td>
        <td>2014-10-30 15:31:20</td>
      </tr>
      <tr>
        <td>Peter1</td>
        <td>Some long comment here</td>
        <td>marcus</td>
        <td>2014-10-30 15:31:20</td>
      </tr>
    </table>
<!--     <ul class="pagination">
      
    </ul> -->
  </div>
</section>

<footer>
  <ul>
    <li>System</li>
    <li><a href="">Users</a></li>
    <li><a href="">Settings</a></li>
    <li><a href="">Filters</a></li>
  </ul>

  <ul>
    <li>Profile</li>
    <li><a href="">Account Settings</a></li>
  </ul>

  <ul>
    <li>Software</li>
    <li><a href="http://github.com/abstractfactory/pyblish" target="_blank">GitHub</a></li>
    <li><a href="http://api.pyblish.com" target="_blank">API</a></li>
    <li><a href="http://pyblish.com" target="_blank">Documentation</a></li>
    <li><a href="http://github.com/abstractfactory/pyblish/wiki" target="_blank">Wiki</a></li>
  </ul>
</footer>