<section class="group">
  <div class="canvas group">
    <table>
      <tr>
        <th ng-repeat="section in eventCtrl.sections">{{ section }}</th>
      </tr>
      <tr ng-repeat="event in eventCtrl.EventService.events
                     | limitTo: 30
                     | filter: { instance: eventCtrl.EventService.query }
                     | filter: { family: eventCtrl.EventService.selectedFilters }">
        <td ng-repeat="section in eventCtrl.sections">{{ event[section] }}</td>
      </tr>
    </table>
  </div>
</section>