// Central area in which grid of events occur, along with
// detailes regarding each event.

@import "global"
@import "variables"


@keyframes openSpace
  from
    font-size: 0

  to
    font-size: 100%


@keyframes slideIn
  from
    opacity: 0
    transform: translateY(-5px)

  to
    opacity: 1
    transform: translateY(0px)


section
  @include theme
  overflow: hidden

  .canvas
    overflow-x: hidden
    overflow-y: auto
    max-height: $max-height
    position: relative
    margin: 5px

  table
    width: 100%

  td
    line-height: 1.6em
    padding: 3px
    padding-left: 5px  // Distance from cell-border to text
  
    span
      opacity: 0
      transition: background-color ease-out 0.05s
      animation: slideIn 0.2s ease-out 0.2s forwards

  tr
    animation: openSpace 0.2s ease forwards

    &:hover
      background-color: darken($background-color, 3)

    &:first-child
      background-color: none

  th
    text-transform: capitalize
    text-align: center
    font-size: 0.85em
    color: $header-color
    line-height: 2em

    transition: color 0.2s

    &:hover
      color: $hover-color

  .ng-move,
  .ng-enter,
  .ng-leave
    transition: all linear 0.5s

  .ng-leave.ng-leave-active,
  .ng-move,
  .ng-enter
    opacity: 0

  .ng-leave,
  .ng-move.ng-move-active,
  .ng-enter.ng-enter-active
    opacity: 1
