/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.group:after {
  clear: both;
  display: table;
  content: ""; }

header {
  margin-bottom: 15px;
  margin-top: 15px; }

.group:after {
  clear: both;
  display: table;
  content: ""; }

nav {
  background-color: #f0f0f0;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 3px;
  margin: 0 15px 15px 0; }
  nav .input-group {
    width: 200px;
    float: left; }
  nav #max-results {
    width: 100px; }

.group:after {
  clear: both;
  display: table;
  content: ""; }

aside {
  background-color: #f0f0f0;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 3px;
  margin: 0 15px 15px 0;
  float: left;
  width: 230px; }
  aside .input-group {
    clear: both;
    width: 200px; }
  aside .dropdown {
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    font-size: 0.85em;
    font-weight: 600;
    padding: 3px;
    margin-bottom: 3px; }
  aside .canvas {
    min-height: 150px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 1.8em;
    font-weight: 600;
    font-size: 0.85em;
    color: #898989;
    margin-bottom: 3px;
    transition: background-color ease-out 0.05s; }
    aside .canvas select {
      background: transparent;
      font-weight: 600;
      font-size: 1em;
      appearance: none;
      outline: none;
      border: none;
      width: 100%; }
      aside .canvas select option {
        padding: 3px; }
        aside .canvas select option:active {
          background: transparent; }
        aside .canvas select option:checked {
          background: linear-gradient(#8a8a8a, #8a8a8a); }
    aside .canvas table {
      min-width: 222px; }
    aside .canvas table, aside .canvas tr, aside .canvas td, aside .canvas th {
      border: none; }
    aside .canvas td:hover {
      background-color: #e8e8e8; }
    aside .canvas td {
      padding-left: 5px; }
    aside .canvas td:first-child {
      width: 3px;
      padding-left: 0;
      background-color: #787878; }
  aside button {
    width: 20px;
    height: 20px; }

.filter-color-1 {
  background-color: #e4cc4a; }

.filter-color-2 {
  background-color: #96c74c; }

.filter-color-3 {
  background-color: #76fc88; }

.filter-color-4 {
  background-color: #60f0de; }

.filter-color-5 {
  background-color: #6885f4; }

.group:after {
  clear: both;
  display: table;
  content: ""; }

@keyframes openSpace {
  from {
    font-size: 0; }

  to {
    font-size: 100%; } }

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-5px); }

  to {
    opacity: 1;
    transform: translateY(0px); } }

section {
  background-color: #f0f0f0;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 3px;
  margin: 0 15px 15px 0;
  overflow: hidden; }
  section .canvas {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
    position: relative;
    margin: 5px; }
  section table {
    width: 100%; }
  section td {
    line-height: 1.6em;
    padding: 3px;
    padding-left: 5px; }
    section td span {
      opacity: 0;
      transition: background-color ease-out 0.05s;
      animation: slideIn 0.2s ease-out 0.2s forwards; }
  section tr {
    animation: openSpace 0.2s ease forwards; }
    section tr:hover {
      background-color: #e8e8e8; }
    section tr:first-child {
      background-color: none; }
  section th {
    text-transform: capitalize;
    text-align: center;
    font-size: 0.85em;
    color: #898989;
    line-height: 2em;
    transition: color 0.2s; }
    section th:hover {
      color: #4b8fe2; }
  section .ng-move,
  section .ng-enter,
  section .ng-leave {
    transition: all linear 0.5s; }
  section .ng-leave.ng-leave-active,
  section .ng-move,
  section .ng-enter {
    opacity: 0; }
  section .ng-leave,
  section .ng-move.ng-move-active,
  section .ng-enter.ng-enter-active {
    opacity: 1; }

.group:after {
  clear: both;
  display: table;
  content: ""; }

footer {
  background-color: #f0f0f0;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 3px;
  margin: 0 15px 15px 0;
  clear: both;
  overflow: hidden;
  font-weight: 600;
  padding: 15px; }
  footer ul {
    padding-right: 80px;
    float: left;
    line-height: 170%; }
    footer ul li:first-child {
      padding-bottom: 5px;
      text-weight: bold;
      color: #898989; }
  footer a {
    transition: color ease-out 0.05s; }
    footer a:hover {
      color: #4b8fe2; }

@media (min-width: 960px) {
  .wrapper {
    width: 960px; } }
@media (max-width: 550px) {
  aside {
    display: none; } }
section {
  /* top-left border-radius */
  /* top-right border-radius */
  /* bottom-left border-radius */
  /* bottom-right border-radius */ }
  section table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px; }
  section tr th, section tr td {
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6; }
  section tr th:first-child, section tr td:first-child {
    border-left: 1px solid #d6d6d6; }
  section tr th:first-child, section tr td:first-child {
    border-left: 1px solid #d6d6d6; }
  section tr th, section tr:first-child td {
    border-top: 1px solid #d6d6d6; }
  section tr:first-child th:first-child, section tr:first-child td:first-child {
    border-top-left-radius: 3px; }
  section tr:first-child th:last-child, section tr:first-child td:last-child {
    border-top-right-radius: 3px; }
  section tr:last-child td:first-child {
    border-bottom-left-radius: 3px; }
  section tr:last-child td:last-child {
    border-bottom-right-radius: 3px; }

body {
  user-select: none;
  cursor: default;
  font-size: 90%; }
  body ::-webkit-scrollbar {
    width: 20px; }
  body ::-webkit-scrollbar-thumb {
    border: 5px solid #f0f0f0;
    background-color: #d6d6d6;
    padding: 5px; }

a {
  text-decoration: none;
  color: #3a3a3a; }
  a:visited {
    color: #3a3a3a; }

button {
  background-color: #d6d6d6;
  font: 1em "Courier New";
  color: #898989;
  outline: none;
  border: none;
  transition: background-color ease-out 0.1s; }
  button:hover {
    background-color: #e1e1e1; }

@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-Semibold.ttf") format("truetype");
  font-weight: 600; }

.wrapper {
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  color: #3a3a3a;
  font-family: "Open Sans" sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  transition: width ease-out 0.2s; }
